{% extends 'base.html' %} {% block login %}
<div class="log-reg">
  <h2 class="">login</h2>
  <form action="/handleLogin/" method="POST" class="">
    {% csrf_token %}
    <div class="input-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter Username"
        class=""
        required
      />
    </div>
    <div class="input-group">
      <label for="pass">Password</label>
      <input
        type="password"
        id="pass"
        name="pass"
        placeholder="Enter Password"
        class=""
        required
      />
    </div>
    <button type="submit" class="button">Login</button>
    <button class="button alt" disabled>
      <a href="/register"> don't have an account? </a>
    </button>
  </form>
</div>
{% endblock %}
